<!DOCTYPE html>
<html>
	<body>
		<center>
		<form style="margin: 2em"
			class="form-inline" action="/" method="get">
			<label for="order">Order:</label>
			<input type="text" id="order" placeholder="UID" name="uid">
		</form>
		</center>
		<div></div>
		{{if ne .OrderUID ""}}
		<table border=1>
			<thead>
				<tr>
					<th>order_uid</th>
					<th>track_number</th>
					<th>entry</th>
					<th>locale</th>
					<th>internal_signature</th>
					<th>customer_id</th>
					<th>delivery_service</th>
					<th>shardkey</th>
					<th>sm_id</th>
					<th>date_created</th>
					<th>oof_shard</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{.OrderUID}}</td>
					<td>{{.TrackNumber}}</td>
					<td>{{.Entry}}</td>
					<td>{{.Locale}}</td>
					<td>{{.InternalSignature}}</td>
					<td>{{.CustomerID}}</td>
					<td>{{.DeliveryService}}</td>
					<td>{{.Shardkey}}</td>
					<td>{{.SmID}}</td>
					<td>{{.DateCreated}}</td>
					<td>{{.OofShard}}</td>
				</tr>
			</tbody>
		</table>
		<h3>Delivery</h3>
		<table border=1>
			<thead>
				<tr>
					<th>name</th>
					<th>phone</th>
					<th>zip</th>
					<th>city</th>
					<th>address</th>
					<th>region</th>
					<th>email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{.Delivery.Name}}</td>
					<td>{{.Delivery.Phone}}</td>
					<td>{{.Delivery.Zip}}</td>
					<td>{{.Delivery.City}}</td>
					<td>{{.Delivery.Address}}</td>
					<td>{{.Delivery.Region}}</td>
					<td>{{.Delivery.Email}}</td>
				</tr>
			</tbody>
		</table>
		<h3>Payment</h3>
		<table border=1>
			<thead>
				<tr>
					<th>transaction</th>
					<th>request_id</th>
					<th>currency</th>
					<th>provider</th>
					<th>amount</th>
					<th>payment_dt</th>
					<th>bank</th>
					<th>delivery_cost</th>
					<th>goods_total</th>
					<th>custom_fee</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{.Payment.Transaction}}</td>
					<td>{{.Payment.RequestID}}</td>
					<td>{{.Payment.Currency}}</td>
					<td>{{.Payment.Provider}}</td>
					<td>{{.Payment.Amount}}</td>
					<td>{{.Payment.PaymentDt}}</td>
					<td>{{.Payment.Bank}}</td>
					<td>{{.Payment.DeliveryCost}}</td>
					<td>{{.Payment.GoodsTotal}}</td>
					<td>{{.Payment.CustomFee}}</td>
				</tr>
			</tbody>
		</table>
		<h3>Items</h3>
		<table border=1>
			<thead>
				<tr>
					<th>chrt_id</th>
					<th>track_number</th>
					<th>price</th>
					<th>rid</th>
					<th>name</th>
					<th>sale</th>
					<th>size</th>
					<th>total_price</th>
					<th>nm_id</th>
					<th>brand</th>
					<th>status</th>
				</tr>
			</thead>
			{{range .Items}}
			<tbody>
				<tr>
					<td>{{.ChrtID}}</td>
					<td>{{.TrackNumber}}</td>
					<td>{{.Price}}</td>
					<td>{{.Rid}}</td>
					<td>{{.Name}}</td>
					<td>{{.Sale}}</td>
					<td>{{.Size}}</td>
					<td>{{.TotalPrice}}</td>
					<td>{{.NmID}}</td>
					<td>{{.Brand}}</td>
					<td>{{.Status}}</td>
				</tr>
			</tbody>
			{{end}}
		</table>
		{{end}}
	</body>
</html>
